EXPO_PUBLIC_SUPABASE_URL=ireydxbwdkhxcqvuvttk
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlyZXlkeGJ3ZGtoeGNxdnV2dHRrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA1Mzc2MDksImV4cCI6MjEwNjExMzYwOX0.xrPTXj71Q_u4ONMLRwCtHy0rmX5vkY0RS_CUXXT-Bi0


EXPO_PUBLIC_CARAPI_TOKEN=cole_seu_api_token_aqui
EXPO_PUBLIC_CARAPI_SECRET=cole_seu_api_secret_aqui
